@import "./Variables.scss";
@import "./Homepage.scss";
@import "./Navbar.scss";
@import "./Games.scss";
@import "./Sidebar.scss";
@import "./AdminLayout.scss";
@import "./Videospage.scss";
@import "./Videocard.scss";
@import "./FormAddVideo.scss";
@import "./HeaderSwiper.scss";
@import "./ConnexionBar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $title-font-family;
}
