@import "./Variables.scss";
@import "./Homepage.scss";
@import "./Navbar.scss";
@import "./Games.scss";
@import "./Teams.scss";
@import "./VideoAdmin.scss";
@import "./Sidebar.scss";
@import "./AdminLayout.scss";
@import "./Videospage.scss";
@import "./Videocard.scss";
@import "./FormAddVideo.scss";
@import "./HeaderSwiper.scss";
@import "./ConnexionBar.scss";
@import "./Gabarits.scss";
@import "./AbonnementArguments.scss";
@import "./Signin.scss";
@import "./Signup.scss";
@import "./FavorisSwiper.scss";
@import "./NewsAnimated.scss";
@import "./ReprendreSwiper.scss";
@import "./PremiumSwiper.scss";
@import "./Partenaires.scss";
@import "./Footer.scss";
@import "./Gamespage.scss";
@import "./Teamspage.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $title-font-family;
}


.Modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  align-items: center;
  color: beige;
  width: 50%;
  background-color: $background-black;
}