.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-gap: 15px 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: $dark-grey;
  height: 10rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1200px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.footer-item a {
  color: white;
  font-size: 1.8rem;
  margin-left: 1rem;
}

.footer-links li {
  list-style: none;
  margin: auto;
}
