.menu-logo {
  text-align: center;
  color: white;
  font-family: $title-font-family;
  font-weight: 600;
}

.main-title {
  text-align: center;
  color: white;
  font-family: $title-font-family;
  font-weight: 600;
}

.image-container {
  display: flex;
  justify-content: center;
}

header {
  background-color: $background-black;
}