.partenaires h4 {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  color: white;
}

.partenaires {
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
}

.partenaires img {
  text-align: center;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  clip-path: circle(40%);
}

.partenaires-title {
  font-size: 2.5rem;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 0.4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 640px) {
  .bg-grey {
    background-color: white;
  }

  .partenaires-items {
    display: flex;
    flex-direction: row;
  }

  .partenaires-title {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .partenaires-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
    grid-gap: 30px 30px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    height: 100%;
    z-index: 1;
    margin-top: -15rem;
  }
}
