@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* COLORS*/
$background-black: #00273a;
$flashy-green: #42e2b8;
$grey-green: #6dc6af;
$background-grey: rgba(235.07, 235.07, 235.07, 0.5);
$dark-grey: #2a2c2b;

/*FONTS*/
$title-font-family: "Khand", sans-serif;
